#window {
    -fx-background-color: white;
}

.validField {
    -fx-control-inner-background: greenyellow;
}

.invalidField {
    -fx-control-inner-background: lightpink;
}

/*.groupBox {
    -fx-border-color: lightGrey;
    -fx-border-width: 2;
    -fx-border-radius: 2px;
}*/